#menu-button {
    position: absolute;
    display: block;
    z-index: 99;
    left: 2em;
    top: 2em;
}

#info-tab {
    position: absolute;
    display: flex;
    z-index: 99;
    right: 2em;
    top: 2em;
    flex-direction: row;
    color: white;
    gap: 0.4em;

    
}
