#menu-button {
    position: absolute;
    display: block;
    z-index: 99;
    left: 2em;
    top: 2em;
}

#step-button {
    position: absolute;
    display: block;
    z-index: 99;
    left: 90%;
    top: 2em;
}